@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Stick&family=Unbounded:wght@200..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    height: 1000px;
    font-family: "Stick", sans-serif;

}
.glav{
    height:4% ;
    width: 1560px;
    display: flex;
    justify-content: center;
}
header{
    width: 100vw;
    height: 15%;
    border: none;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: aliceblue;
    justify-content: space-between;
    border-radius: 15px;    
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
header img{
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 999px;
    box-shadow: 5px 5px 20px aquamarine;
    
}
header nav a{
    text-decoration: none;
    color: black;

}
.reg{
    margin-right: 30px;
}
.reg a{
    padding: 10px;
    border-radius: 20px;
    background-color: tomato;
    color: aliceblue;
    transition: all 0.5s;
}
.reg a:hover{
    background-color: rgb(80, 54, 206);
    color: white;
    padding: 15px;
    
}

.comp a{
    margin-right: 20px;
    background-color:rgb(80, 54, 206);
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow:5px 5px 20px aquamarine;
    transition: 0.5s;
}
.comp a:hover{
    background-color: chocolate;
    box-shadow:5px 5px 20px chocolate;
}
.side-board{
    background-color: black;
    height: 40%;
    width: 20%;
    position: sticky;
    top: 120px;
    left: 20px;
    border-radius: 15px;
    z-index: 10;
}
.side-board a{
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-top: 7px;
}
.side-board a:hover{
    width: fit-content;
    color: brown;
    transition: 0.5s;
}
main{
    margin-left: 400px;
    position: absolute;
    top: 120px;
    width: 100%;
}
form label{
    display: flex;
}
.contact{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 30px;
}
.contact img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}