@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Stick&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
    width: 1000px;
    background-color: aquamarine;
    font-family: "Stick", sans-serif;
    letter-spacing: 0.7;
}
.glav{
    height:4% ;
    width: 1560px;
    display: flex;
    justify-content: center;
}
header{
    width: 70%;
    height: 15%;
    border: none;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: aliceblue;
    justify-content: space-between;
    border-radius: 15px;    
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
header img{
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 999px;
    box-shadow: 5px 5px 20px aquamarine;
    
}
.comp a{
    margin-right: 20px;
    background-color:rgb(80, 54, 206);
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow:5px 5px 20px aquamarine;
    transition: 0.5s;
    text-decoration: none;
    margin-right: 100px;
}
.comp a:hover{
    background-color: chocolate;
    box-shadow:5px 5px 20px chocolate;
}
.Манга-card img{
    width: 300px;
    height: 400px;
}
.Манга-card{
    position: relative;
    border: 1px solid black;
    width: fit-content;
    text-align: center;
    padding: 7px;
    height: 900px;
    font-family: 'Courier New', Courier, monospace;
    background-color: chocolate;
    box-shadow: 5px 5px 20px chocolate;
}
main{
    width: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);   
    gap: 50px; 
    padding-left: 25%;
}
.heart{
    position: absolute;
    right: 5px;
    top: 25px;
}
.heart img{
    width: 50px;
    height: 50px;
}
.none-like{
    position: relative;
}
.like{
    position: absolute;
    right: 0px;
    display: none;
}
.heart:active{
    .none-like{
        display: none;
    }
    .like{
        display: block;
    }
}
.heart:visited{
    .none-like{
        display: none;
    }
    .like{
        display: block;
    }
}
.Манга-card input{
    bottom: 20px;
    position: absolute;
    left: 120px;
    border-radius: 10px;
    padding: 5px;
    background-color: green;
    box-shadow: 5px 5px 20px green;
    color: white;
}
.Манга-card input:hover{
    scale: 1.1;
    transition: all 0.5s;
}
.Манга-card p{
    position: absolute;
    left: 20px;
    bottom: 70px;
    color: white;
}